.alert {
    &.card {
        border-top: 1px solid $light-gray;
    }

    &.alert-error {
        color: $error;
    }

    &.alert-warning {
        color: $warning;
    }

    &.alert-success {
        color: $success;
    }

    &.alert-primary {
        color: $primary;
    }

    &.alert-info {
        color: $dark-gray;

        i.fa-info-circle {
            color: $primary;
        }
    }

    button {
        color: $dark-gray !important;
    }
}

.alert-card {
    border-top: 1px solid $light-gray;
}

.toast {
    background-color: #fff;
    position:relative;
    padding: 10px;
    word-break: normal;
    font-size: 14px;
    line-height: 20px;
    -webkit-box-shadow: $shadow2;
    -moz-box-shadow: $shadow2;
    box-shadow: $shadow2;

    svg {
        margin-right: 10px;
    }

    &.error {
        background-color: $error;;
    }

    &.success {
        background-color: $success;
    }

    &.warning {
        background-color: $warning;
    }

    &.primary {
        background-color: $primary;
    }

    &.info {
        border: 1px solid $dark-gray;
        color: $dark-gray;

        &::before {
            content: "\f05a";
        }
    }
}

@media all and (min-width: 601px) {
    #toast-container {
        top: auto !important;
        left: auto !important;
        bottom: 10px;
        right: 10px;
    }
}

@media all and (min-width: 480px) {
    .toast {
        max-width: 300px;
    }
}

