.alert {
    &.alert-error {
        color: $error;
    }

    &.alert-primary {
        color: $primary;
    }

    &.alert-info {
        color: $accent;

        i.fa-info-circle {
            color: $primary;
        }
    }
}

.toast {
    &.error {
        background-color: $error;
    }

    &.primary, &.success {
        background-color: $primary;
    }

    &.alert-info {
        background-color: $accent;
    }
}
