.alert {
    &.card {
        border-top: 1px solid $light-gray;
    }

    &.alert-error {
        color: $error;
    }

    &.alert-warning {
        color: $warning;
    }

    &.alert-success {
        color: $success;
    }

    &.alert-primary {
        color: $primary;
    }

    &.alert-info {
        color: $dark-gray;

        i.fa-info-circle {
            color: $primary;
        }
    }

    button {
        color: $dark-gray !important;
    }
}

.alert-card {
    border-top: 1px solid $light-gray;
}

.toast {
    background-color: #fff;
    position:relative;
    padding: 10px;
    word-break: normal;
    padding-left: 40px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid $light-gray;
    -webkit-box-shadow: $shadow1;
    -moz-box-shadow: $shadow1;
    box-shadow: $shadow1;

    &:before {
        font-family: "FontAwesome";
        font-size: 1.5em;
        left:10px;
        position:absolute;
        top:50%;
        margin-top: -10px;
    }

    &.error {
        color: $error;
        border: 1px solid $error;

        &:before {
            color: $error;
            content: "\f057";
        }
    }

    &.success {
        color: $success;
        border: 1px solid $success;

        &:before {
            color: $success;
            content: "\f058";
        }
    }

    &.warning {
        color: $warning;
        border: 1px solid $warning;

        &:before {
            color: $warning;
            content: "\f06a";
        }
    }

    &.primary {
        color: $primary;
        border: 1px solid $primary;

        &:before {
            color: $primary;
            content: "\f05a";
        }
    }

    &.info {
        color: $dark-gray;
        border: 1px solid $dark-gray;

        &:before {
            color: $dark-gray;
            content: "\f05a";
        }
    }
}

@media all and (min-width: 601px) {
    #toast-container {
        top: auto !important;
        left: auto !important;
        bottom: 10px;
        right: 10px;
    }
}

@media all and (min-width: 480px) {
    .toast {
        max-width: 300px;
    }
}

