.alert {
    &.alert-error {
        color: $error;
    }

    &.alert-primary {
        color: $primary;
    }

    &.alert-info {
        color: $accent;

        i.fa-info-circle {
            color: $primary;
        }
    }
}
