input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: 2rem;
    margin: 0;
}

.dropdown-content li > a > i {
    margin: 0 5px 0 0;
}


.select2-custom-element {
    border-bottom: 1px solid $gray;
    min-height: 34px;

    .select2-container .select2-selection--single {
        height: auto!important;
        padding: 5px 0;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: normal!important;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        white-space: normal!important;
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: $background;
        color: $accent;
    }

    &.disabled {
        background: #fdfdfd;
        cursor: not-allowed;
    }

    .select2 {
        width: 100% !important;
        display: block;

        .select2-selection {
            border-radius: 0;
            border: none;
        }

        .select2-selection__rendered {
            padding-left: 0;
        }
    }

    .select2-dropdown {
        border: 1px solid $gray;

        > .select2-search.select2-search--dropdown {
            padding: 0;

            input {
                margin-bottom: 0;
                height: 2rem;
                border: none;
                border-bottom: 1px solid $gray;
                padding: 0 4px;
            }
        }

        li.loading-results {
            color: #fff;
            position: relative;

            &:before {
                content: "\f021";
                font-family: "FontAwesome";
                left:10px;
                position:absolute;
                top:5px;
                -webkit-animation: fa-spin 2s infinite linear;
                animation: fa-spin 2s infinite linear;
                color: $primary;
            }
        }
    }

    .select2-container--default.select2-container--disabled .select2-selection--single {
        background: none;
        cursor: not-allowed;
    }
}


.select-wrapper {
    input.select-dropdown {
        margin: 0 !important;
        height: 33px;
        line-height: 33px;
    }

    ul.select-dropdown {
        li {
            height: 34px;
            line-height: 34px;
            min-height: 34px;

            span {
                padding: 5px;
            }
        }
    }
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search] {
    margin: 0;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    height: 2rem;
    padding: 0 4px;
    margin-bottom: 0;
}

input.aurelia-flatpickr, .aurelia-flatpickr input {
    color: $accent-text !important;
    border-bottom: 1px solid $gray !important;
}

.aurelia-flatpickr {
    .btn-group {
        width: 40px;
    }
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $primary;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    padding: 0 .75rem;
    text-transform: none;
    line-height: 1.5rem;
    height: 1.75rem;
    font-size: 1rem;

    i {
        line-height: 1.5rem;
        font-size: 1rem;
    }

    &.btn-small {
        padding: 0 .5rem;
        line-height: 1.25rem;
        height: 1.25rem;
        font-size: .8rem;

        i {
            line-height: 1.25rem;
            font-size: .75rem;
        }
    }
}

/* buttons */
.btn.gray, .btn-flat.gray, .btn-large.gray {
    color: #fff !important;
    background-color: $gray;
    transition: .2s ease-out;
}
.btn.gray:hover, .btn-flat.gray:hover, .btn-large.gray:hover {
    background-color: lighten($gray, 10%);
    transition: .2s ease-out;
}
.btn.gray:focus, .btn-flat.gray:focus, .btn-large.gray:focus {
    background-color: lighten($gray, 5%);
    transition: .2s ease-out;
}


/* buttons */
.btn.error, .btn-flat.error, .btn-large.error {
    color: #fff;
    background-color: $error;
    transition: .2s ease-out;
}
.btn.error:hover, .btn-flat.error:hover, .btn-large.error:hover {
    background-color: lighten($error, 10%);
    transition: .2s ease-out;
}
.btn.error:focus, .btn-flat.error:focus, .btn-large.error:focus {
    background-color: lighten($error, 5%);
    transition: .2s ease-out;
}


/* buttons */
.btn.warning, .btn-flat.warning, .btn-large.warning {
    color: #fff;
    background-color: $warning;
    transition: .2s ease-out;
}
.btn.warning:hover, .btn-flat.warning:hover, .btn-large.warning:hover {
    background-color: lighten($warning, 10%);
    transition: .2s ease-out;
}
.btn.warning:focus, .btn-flat.warning:focus, .btn-large.warning:focus {
    background-color: lighten($warning, 5%);
    transition: .2s ease-out;
}
