input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: 2rem;
    margin: 0;
}

.dropdown-content li > a > i {
    margin: 0 5px 0 0;
}


.select2-custom-element {
    border-bottom: 1px solid $gray;
    height: 34px;

    &.disabled {
        background: #fdfdfd;
        cursor: not-allowed;
    }

    .select2 {
        width: 100% !important;
        display: block;

        .select2-selection {
            border-radius: 0;
            border: none;
        }

        .select2-selection__rendered {
            padding-left: 0;
        }
    }

    .select2-dropdown {
        border-top: 1px solid $gray;

        li.loading-results {
            color: #fff;
            position: relative;

            &:before {
                content: "\f021";
                font-family: "FontAwesome";
                left:10px;
                position:absolute;
                top:5px;
                -webkit-animation: fa-spin 2s infinite linear;
                animation: fa-spin 2s infinite linear;
                color: $primary;
            }
        }
    }

    .select2-container--default.select2-container--disabled .select2-selection--single {
        background: none;
        cursor: not-allowed;
    }
}


.select-wrapper {
    input.select-dropdown {
        margin: 0 !important;
        height: 33px;
        line-height: 33px;
    }

    ul.select-dropdown {
        li {
            height: 34px;
            line-height: 34px;
            min-height: 34px;

            span {
                padding: 5px;
            }
        }
    }
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search] {
    margin: 0;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    height: 33px;
}

input.aurelia-flatpickr, .aurelia-flatpickr input {
    color: $accent-text !important;
    border-bottom: 1px solid $gray !important;
}

.aurelia-flatpickr {
    .btn-group {
        width: 40px;
    }
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $gray;
    box-shadow: none;
}
