a.underline {
    text-decoration: underline;
}

.padded-container {
  padding: 10px;
}

.tt-validation.tooltipster-sidetip {

    .tooltipster-box {
        background: #fff;
        border: 1px solid $error !important;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;

        .tooltipster-content {
            color: $error;
        }
    }

    .tooltipster-arrow {
        bottom: -1px;
    }

    .tooltipster-arrow-border {
        border-top-color: $error;
    }

    .tooltipster-arrow-background {
        border-top-color: #fff;
        top: -1px;
    }
}

.invalid.touched, .validated.invalid {
    border-bottom: 1px solid $error;
    box-shadow: none !important;
}

.bold {
    font-weight: bold;
}
