.primary {
    background-color: $primary;
    color: white;
}
.primary-text {
    /*background-color: white;*/
    color: $primary;
}

.accent {
    background-color: $accent;
}

.accent-text {
    color: $accent;
}

.primary-border {
    border: 1px solid $primary !important;
}
.accent-border {
    border: 1px solid $accent !important;
}

.waves-effect.waves-primary .waves-ripple {
    background-color: $primary;
}
.waves-effect.waves-dark-gray .waves-ripple {
    background-color: $dark-gray;
}
.dark-gray {
    background-color: $dark-gray;
    color: white;
}
.dark-gray-text {
    /*background-color: white;*/
    color: $dark-gray;
}

.gray-text {
    color: $gray;
}

.error {
    background-color: $error;
}
.error-text {
    color: $error
}
.success {
    background-color: $success;
    color: white;
}
.success-text {
    color: $success;
}
.warning {
    background-color: $warning;
    color: white;
}
.warning-text {
    color: $warning;
}
/* buttons */
.btn.primary, .btn-flat.primary, .btn-large.primary {
    transition: .2s ease-out;
}
.btn.primary:hover, .btn.btn-flat.primary:hover, .btn.btn-large.primary:hover {
    background-color: lighten($primary, 30%);
    transition: .2s ease-out;
}
.btn.primary:focus, .btn.btn-flat.primary:focus, .btn.btn-large.primary:focus {
    background-color: lighten($primary, 15%);
    transition: .2s ease-out;
}

.btn-flat:not(.disabled):hover {
    /*background-color: ${mdAccentColor | lighten:3};*/
    background-color: rgba(50, 50, 50, .15);
    border: none;
    box-shadow: none;
    transition: .2s ease-out;
}
.btn-flat:focus {
    /*background-color: ${mdAccentColor | lighten:2};*/
    background-color: transparent;
    border: none;
    box-shadow: none;
    transition: .2s ease-out;
}
.btn.dark-gray, .btn-flat.dark-gray, .btn-large.dark-gray {
    transition: .2s ease-out;
}
.btn.dark-gray:hover, .btn-flat.dark-gray:hover, .btn-large.dark-gray:hover, .btn-floating:hover {
    background-color: lighten($dark-gray, 5%);
    transition: .2s ease-out;
}
.btn.dark-gray:focus, .btn-flat.dark-gray:focus, .btn-large.dark-gray:focus, .btn-floating:focus {
    background-color: lighten($dark-gray, 10%);
    transition: .2s ease-out;
}
/* checkbox */
[type="checkbox"]:checked + label:before {
    border-right-color: $dark-gray;
    border-bottom-color: $dark-gray;
}
[type="checkbox"].filled-in:checked + label:after {
    border-color: $dark-gray;
    background-color: $dark-gray;
}
[type="checkbox"]:indeterminate + label:before {
    border-right-color: $dark-gray;
}
/* collection */
md-collection .collection md-collection-item.collection-item.active {
    background-color: $dark-gray;
    color: white;
}
md-collection .collection md-collection-item.collection-item .secondary-content {
    color: $dark-gray;
}
md-collection .collection md-collection-item.collection-item.avatar i.circle.primary {
    background-color: $primary;
}
md-collection .collection md-collection-item.collection-item.avatar i.circle.dark-gray {
    background-color: $dark-gray;
}
md-collection .collection md-collection-item.collection-item.avatar i.circle.error {
    background-color: $error;
}
md-collection .collection md-collection-item.collection-item.avatar i.circle.success {
    background-color: $dark-gray;
}
md-collection .collection md-collection-item.collection-item.avatar i.circle.primary-text {
    color: $primary;
    background-color: transparent;
}
md-collection .collection md-collection-item.collection-item.avatar i.circle.dark-gray-text {
    color: $dark-gray;
    background-color: transparent;
}
md-collection .collection md-collection-item.collection-item.avatar i.circle.error-text {
    color: $error;
    background-color: transparent;
}
md-collection .collection md-collection-item.collection-item.avatar i.circle.success-text {
    color: $dark-gray;
    background-color: transparent;
}
/* datepicker */
.picker__date-display {
    background-color: $dark-gray;
}
.picker__weekday-display {
    background-color: darken($dark-gray, 30%);
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: $dark-gray;
}
.picker__day.picker__day--today {
    color: $dark-gray
}
.picker__footer button:not(.picker__clear) {
    color: $dark-gray
}
.picker__footer button:focus {
    background-color: lighten($dark-gray, 60%);
}
[md-datepicker] + i.material-icons.std-icon-fixup {
    margin-left: -24px;
    line-height: 1;
    margin-top: 12px;
    cursor: pointer;
}
/* text input */
md-input .input-field label {
    left: 0;
}
md-input .input-field input[type=text]:focus {
    border-bottom: 1px solid $dark-gray;
    box-shadow: 0 1px 0 0 $dark-gray;
}
md-input .input-field input[type=text]:focus + label {
    color: $dark-gray;
}
md-input .input-field input[type=email]:focus {
    border-bottom: 1px solid $dark-gray;
    box-shadow: 0 1px 0 0 $dark-gray;
}
md-input .input-field input[type=email]:focus + label {
    color: $dark-gray;
}
md-input .input-field input[type=password]:focus {
    border-bottom: 1px solid $dark-gray;
    box-shadow: 0 1px 0 0 $dark-gray;
}
md-input .input-field input[type=password]:focus + label {
    color: $dark-gray;
}
md-input .input-field input[type=number]:focus {
    border-bottom: 1px solid $dark-gray;
    box-shadow: 0 1px 0 0 $dark-gray;
}
md-input .input-field input[type=number]:focus + label {
    color: $dark-gray;
}
md-input .input-field input[type=time]:focus {
    border-bottom: 1px solid $dark-gray;
    box-shadow: 0 1px 0 0 $dark-gray;
}
md-input .input-field input[type=time]:focus + label {
    color: $dark-gray;
}
md-input .input-field .prefix.active {
    color: $dark-gray;
}
md-input textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $dark-gray;
    box-shadow: 0 1px 0 0 $dark-gray;
}
md-input textarea.materialize-textarea:focus:not([readonly]) + label {
    color: $dark-gray
}
md-input input:not([type]).invalid + label:after,
md-input input:not([type]):focus.invalid + label:after,
md-input input[type=text].invalid + label:after,
md-input input[type=text]:focus.invalid + label:after,
md-input input[type=password].invalid + label:after,
md-input input[type=password]:focus.invalid + label:after,
md-input input[type=email].invalid + label:after,
md-input input[type=email]:focus.invalid + label:after,
md-input input[type=url].invalid + label:after,
md-input input[type=url]:focus.invalid + label:after,
md-input input[type=time].invalid + label:after,
md-input input[type=time]:focus.invalid + label:after,
md-input input[type=date].invalid + label:after,
md-input input[type=date]:focus.invalid + label:after,
md-input input[type=datetime].invalid + label:after,
md-input input[type=datetime]:focus.invalid + label:after,
md-input input[type=datetime-local].invalid + label:after,
md-input input[type=datetime-local]:focus.invalid + label:after,
md-input input[type=tel].invalid + label:after,
md-input input[type=tel]:focus.invalid + label:after,
md-input input[type=number].invalid + label:after,
md-input input[type=number]:focus.invalid + label:after,
md-input input[type=search].invalid + label:after,
md-input input[type=search]:focus.invalid + label:after,
md-input textarea.materialize-textarea.invalid + label:after,
md-input textarea.materialize-textarea:focus.invalid + label:after
{
    color: $error
}
/* text input aurelia-validation messages */
.md-input-validation {
    left: 0;
    /*color: #f44336;*/
    color: $error;
    font-size: 0.8rem;
    transition: opacity .2s ease-out;
    margin-top: -4px;
    margin-bottom: 0;
}
@media only screen and (min-width: 0) {
    .md-input-validation-first {
        margin-top: -14px;
        margin-bottom: -2px;
    }
}
@media only screen and (min-width: 992px) {
    .md-input-validation-first {
        margin-top: -18px;
        padding-bottom: 3px;
    }
}
@media only screen and (min-width: 1200px) {
    .md-input-validation-first {
        margin-top: -19px;
    }
}
/* pagination */
md-pagination .pagination li.active {
    background-color: $primary
}
/* progress */
md-progress .progress {
    background-color: lighten($dark-gray, 60%);
}
md-progress .progress .determinate, md-progress .progress .indeterminate {
    background-color: $dark-gray;
}
/* radio input */
md-radio input[type="radio"]:checked + label:after {
    border: 2px solid $dark-gray;
    background-color: $dark-gray;
}
md-radio [type="radio"].with-gap:checked + label:before {
    border: 2px solid $dark-gray;
}
md-radio [type="radio"].with-gap:checked + label:after {
    border: 2px solid $dark-gray;
    background-color: $dark-gray;
}
/* range */
md-range .range-field input[type="range"]::-webkit-slider-thumb {
    background: $dark-gray;
}
md-range .range-field input[type="range"]::-moz-range-thumb {
    background: $dark-gray;
}
md-range .range-field input[type="range"]::-ms-thumb {
    background: $dark-gray;
}
md-range input[type="range"] + .thumb {
    background-color: $dark-gray !important;
}
/* select */
.dropdown-content li > a, .dropdown-content li > span {
    color: $dark-gray;
}
.select-wrapper input.select-dropdown {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}
/* side-nav */
md-sidenav .side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
    background-color: $primary;
}
.side-nav .collapsible-body > ul:not(.collapsible) > li.active, .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: $primary;
}
/* slider */
.slider .indicators .indicator-item.active {
    background-color: $dark-gray;
}
/* switch */
md-switch.switch label input[type=checkbox]:checked + .lever {
    background-color: lighten($dark-gray, 30%);
}
md-switch.switch label input[type=checkbox]:checked + .lever:after {
    background-color: $dark-gray;
}
/* tabs */
.tabs {
    .tab a {
        color: $primary;
    }
    .tab a.active {
        color: $primary;
    }
    .tab.waves-effect {
        position: static;
    }
    .tab a:hover {
        color: $primary;
    }
    .indicator {
        background-color:$primary;
    }
}

/* well */
md-well li.active {
    border-right: 2px solid $primary;
    background-color: lighten($primary, 90%);
}
/* footer */
footer.page-footer {
    background-color: $primary;
}
/* md-select label */
.select-wrapper input {
    /* make input fit in div */
    display: inline-block !important;
    /* fix validation border thickness */
    border-bottom-width: 1px;
}
.select-wrapper input.invalid {
    border-bottom: 1px solid $error;
}
.select-wrapper + label {
    color: $dark-gray;
    width: 100%;
}
/* position validation label */
.select-wrapper + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 60px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
    transform: translateY(0) !important;
}
/* set validation text */
.select-wrapper.invalid + label:after {
    content: attr(data-error);
    color: $error;
    opacity: 1;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $gray;
    box-shadow: none;
}

input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid $gray;
    box-shadow: none;
}

.tabs .tab {
    text-transform: none;
}

table {
    td, th {
        padding: 5px;
    }
}
