$accent: #5b6a72;
$primary: #08b5e5;
$background: #edf9fd;

$warning: #f57c00;
$success: #388e3c;
$error: #c62828;

$accent-text: #5b6a72;
$primary-text: #08b5e5;


$light-gray: #e0e0e0;
$gray: #9e9e9e;

.gray {
    background-color: $gray;
}
