@import '../../../../../app/styles/variables/variables';

.exchange {
    .detail {
        position: relative;

        .back {
            position: fixed;
            margin-top: -15px;
            width: 70px;
            left: 50%;
            margin-left: -35px;
            background-color: #fff;
            border: 1px solid $dark-gray;
            border-top-width: 0;
            text-align: center;
            font-size: 12px;
            color: $dark-gray;
            z-index: 996;
            cursor: pointer;
            box-shadow: $shadow1;
            -webkit-box-shadow: $shadow1;
            -moz-box-shadow: $shadow1;
        }

        th {
            padding: 5px;
        }

        .card .card-content {

            .card-heading {
                padding: 5px;
                color: $primary;
            }

            .card-title {
                margin-bottom: 0;
            }
        }

        .create-offer-card {

            .card-content {

                .card-heading {
                    padding: 0;

                    .tabs {
                        height: 29px;

                        .tab {
                            height: 29px;
                            line-height: 29px;
                            font-weight: bold;
                            text-transform: none;
                        }
                    }
                }
            }
        }

        @import "tradingview-price-chart/tradingview-price-chart";
        @import "orderbook/orderbook";
        @import "my-offers/my-offers";
        @import "recent-trades/recent-trades";
        @import "orderbook-chart/orderbook-chart";
        @import "create-offer/create-offer";
    }
}
