.card.alert {
    padding: 5px;
    position: relative;

    button {
        border: none;
        background-color: transparent;
        font-weight: bold;
        font-size: 14px;
        position: absolute;
        top: 0;
        right: 4px;
        padding: 0;
    }

    &.dismissible {
        padding-top: 15px;
    }
}
