[submodule "assets/charting_library"]
	path = assets/charting_library
	url = https://github.com/tradingview/charting_library.git
	branch = unstable
[submodule "assets/Font-Awesome-Pro"]
	path = assets/Font-Awesome-Pro
	url = https://github.com/FortAwesome/Font-Awesome-Pro
