<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Stellarport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">

    <style>
        html, body {
            background: #f3f8fa
        }

        .splash {
            text-align: center;
            margin: 10% 0 0 0;
            box-sizing: border-box;
        }

        .splash .message {
            font-size: 30px;
            color: #5b6a72;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .splash .fa-sync {
            text-align: center;
            display: inline-block;
            margin-top: 5px;
            color: #5b6a72;
        }
    </style>

    <script src="/assets/Font-Awesome-Pro/svg-with-js/css/fa-svg-with-js.css"></script>
    <script src="/assets/Font-Awesome-Pro/svg-with-js/js/fontawesome-all.min.js"></script>

    <% if (htmlWebpackPlugin.options.metadata.production) { %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107386084-1"></script>

        <script>
            stellarport = {
                env: '%env%'
            };
        </script>
    <% } %>
    <% if (!htmlWebpackPlugin.options.metadata.production) { %>
    <script>
        stellarport = {
            env: 'development'
        };

        <% if (htmlWebpackPlugin.options.metadata.publicNetwork) { %>
            stellarport.networkMode = 'public';
        <% } else { %>
            stellarport.networkMode = 'test';
        <% } %>

        <% if (htmlWebpackPlugin.options.metadata.remoteBackend) { %>
            stellarport.remoteBackend = true;
        <% } else { %>
            stellarport.remoteBackend = false;
        <% } %>
    </script>
    <% } %>
    <!-- imported CSS are concatenated and added automatically -->
</head>
<body aurelia-app="main">
<div class="splash">
    <div class="message">Stellarport</div>
    <i class="fal fa-sync fa-spin fa-3x"></i>
</div>

<!--<script src="/stellar-sdk.min.js"></script>-->
<% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
<% } %>

<script src="/assets/charting_library/charting_library/charting_library.min.js"></script>
</body>
</html>
