.payment-modal {

    .confirm {
        table {
            td {
                font-size: 20px;
                font-weight: bold;

                &.label {
                    text-align: right;
                }

                &.value {
                    text-align: left;
                }
            }
        }
    }
}
