.send-payment {
    .card {
        max-width: 700px;
        margin: 0 auto;
    }

    .form-container {
        padding: 2px;
    }

    .confirm-step {
        table {
            font-size: 14px;
            display: inline-block;
            td {
                font-weight: bold;
                padding: 5px;

                &.label {
                    text-align: left;
                }

                &.value {
                    text-align: left;
                }
            }
        }
    }
}
