.nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;

    .brand-logo {
        height: 64px;
        line-height: 64px;
        vertical-align: middle;

        img {
            height: 50px;
            width: 50px;
            display: inline;
            vertical-align: middle;
            margin-top: -5px;
        }

        .brand-desc {
            font-size: 16px;
            vertical-align: middle;
        }
    }
}

nav .nav-wrapper i {
    height: initial;
    line-height: normal;
}

.navbar-fixed {
    nav {
        background-color: $accent;
    }
}
