.nav-wrapper {
    margin: 0 auto;

    .left {
        margin-left: 350px;
    }

    .brand-logo {
        height: 54px;
        line-height: 54px;
        margin-left: 15px;
        font-weight: bold;
        vertical-align: bottom;

        img {
            height: 40px;
            width: 40px;
            display: inline;
            vertical-align: middle;
            margin-top: -5px;
        }

        .brand-desc {
            font-size: 12px;
        }
    }
}

nav .nav-wrapper i {
    height: initial;
    line-height: normal;
}

.navbar-fixed {
    height: 54px;

    nav {
        height: 54px;
        background-color: $dark-gray;
        -webkit-box-shadow: $shadow1;
        -moz-box-shadow: $shadow1;
        box-shadow: $shadow1;

        .dropdown-content {
            margin-top: 55px;
        }

        ul {
            li {
                height: 53px;
                line-height: 53px;
                a {
                    height: 53px;
                    line-height: 53px;
                    color: #fff;

                    &:hover {
                        color: $light-gray;
                        background-color: $dark-gray;
                    }

                    svg {
                        vertical-align: middle;
                    }
                }
            }

            &.dropdown-content {

                li {
                    height: auto;
                    min-height: 0;

                    a {
                        font-size: 14px;
                        padding: 10px;
                        height: auto;
                        color: $dark-gray;
                    }
                }

                i {
                    margin-right: 0;
                }
            }
        }
    }
}

@media all and (min-width: 992px) {
    .nav-wrapper {
        margin: 0 auto;

        .left {
            margin-left: 350px;
        }

        .brand-logo {
            left: 0;
        }
    }
}

@media all and (max-width: 600px) {
    .nav-wrapper {
        .brand-logo {
            height: 56px;
            line-height: 56px;
            margin-left: 0;

            img {
                height: 40px;
                width: 40px;
                display: inline;
                vertical-align: middle;
                margin-top: -5px;
            }
        }
    }
}
