.nav-wrapper {
    margin: 0 auto;

    .left {
        margin-left: 400px;
    }

    .brand-logo {
        height: 64px;
        line-height: 64px;
        vertical-align: middle;
        margin-left: 15px;
        color: $primary;

        img {
            height: 50px;
            width: 50px;
            display: inline;
            vertical-align: middle;
            margin-top: -5px;
        }

        .brand-desc {
            font-size: 16px;
            vertical-align: middle;
        }
    }
}

nav .nav-wrapper i {
    height: initial;
    line-height: normal;
}

.navbar-fixed {
    nav {
        background-color: $accent;

        .dropdown-content {
            margin-top: 55px;
        }
    }
}

@media all and (min-width: 992px) {
    .nav-wrapper {
        margin: 0 auto;

        .left {
            margin-left: 400px;
        }

        .brand-logo {
            left: 0;
        }
    }
}

@media all and (max-width: 600px) {
    .nav-wrapper {
        .brand-logo {
            height: 56px;
            line-height: 56px;

            img {
                height: 40px;
                width: 40px;
                display: inline;
                vertical-align: middle;
                margin-top: -5px;
            }
        }
    }
}
