.price-chart {
    font-size: 12px;

    .btn-group {
        display: inline-block;

        button.btn {
            border-radius: 0;
            border: 1px solid $gray !important;
            border-left: none !important;
            color: $accent;
            background-color: #fff;
            height: 20px;
            line-height: 12px;
            padding: 2px 3px;
            font-size: 12px;
            text-transform: lowercase;

            &:first-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 1px solid $gray !important;
            }

            &:last-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &.active {
                color: #fff;
                background-color: $primary;
            }

            &:disabled {
                background-color: $light-gray;
            }
        }
    }

    .chart-scroll {
        width: 100%;
        overflow-y: auto;
        position: relative;
    }
}

@import "candlestick-chart/candlestick-chart";
@import "brush-chart/brush-chart";
