.spinner-overlay {
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background-color: #fff;
  display: flex;
  align-items: baseline;
  justify-content: center;
  z-index: 99;
  padding-top: 75px;

  &.transparent {
    background-color: transparent;
  }
}
