<!DOCTYPE html><html><head><meta charset="utf-8"><title>LuPoEx</title><meta name="viewport" content="width=device-width,initial-scale=1"><base href="/"><style>.splash {
            text-align: center;
            margin: 10% 0 0 0;
            box-sizing: border-box;
        }

        .splash .message {
            font-size: 30px;
            color: #5b6a72;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .splash .fa-refresh {
            text-align: center;
            display: inline-block;
            margin-top: 5px;
            color: #08b5e5;
        }</style><script>lupoex = {
                env: '{{getenv "CLIENT_ENV"}}'
            };</script><link href="/8758abb0860b53fdf82c57e246a41fc5.css" rel="stylesheet"></head><body aurelia-app="main"><div class="splash"><div class="message">LuPoEx</div><i class="fa fa-refresh fa-spin fa-2x"></i></div><script src="/stellar-sdk.min.js"></script><script src="/assets/charting_library/charting_library/charting_library.min.js"></script><script type="text/javascript" src="/common.dccffd025e8da0be29a5.bundle.js"></script><script type="text/javascript" src="/app.cf3bc904baf84786d80f.bundle.js"></script><script type="text/javascript" src="/vendor.3fd12373d324da009fe6.bundle.js"></script></body></html>