
.asset-pair-cards {
    position: relative;
    width: 100%;
    max-width: 320px;
    display: inline-block;

    .card {
        margin-bottom: 0;
    }

    hr {
        position: absolute;
        left: 5px;
        right: 5px;

        &.one {
            top: 25%;
        }

        &.two {
            bottom: 25%;
        }
    }
}
