.brush-chart {
    overflow-x: hidden;
    border: 1px solid $gray;
    border-top: none;
    position: relative;

    .axis-line {
        position: absolute;
        top: 50px;
        height: 0;
        border-top: 1px solid $gray;
        width: 100%;
    }

    .chart {
        border-top: none;

        svg {
            overflow: visible;
        }
    }

    path.line {
        fill: none;
        stroke: $primary;
        stroke-width: 1;
    }

    g.axis {
        path.domain {
            display: none;
        }

        path.axis-line {
            stroke: $gray;
        }

        g.tick {
            line {
                display: none;
            }
        }
    }

    rect.selection {
        opacity: 0.3;
        fill: $warning;
        stroke: none;
    }

    rect.overlay {
        display: none;
    }

    .handle {
        &.handle--w, &.handle--e {
            stroke-width: 0;
            fill: $gray;
            y: 0;
            height: 50px;
            width: 5px;
            z-index: 99;
        }
    }
}
