@import "styles/styles";
@import 'resources/resources';

html, body {
  background-color: $background;

  .page-wrapper {
      padding: 20px 2px;
      max-width: 1200px;
      margin: 0 auto;
      overflow-x: auto;
  }
}

.splash {
  width: 100%;
  text-align: center;

  .message {
    font-size: 30px;
  }
}

@import "routes/login/login";
@import "routes/exchange/exchange";
@import "routes/account/account";
@import "routes/send-payment/send-payment";
@import "navbar/navbar";
