.top-ten-markets {
  .card-body {
    padding: 0;
  }

  table {
    thead {
      th.sortable {
        cursor: pointer;
      }
    }

    tbody {
      tr {
        cursor: pointer;

        &:last-child {
          border-bottom-width: 0;
        }
      }
    }
  }
}
