.top-ten-markets {
    .card-body {
        padding: 0;
    }

    .trade-link {
        font-size: 14px;
    }

    table {
        thead {
            th.sortable {
                cursor: pointer;
            }
        }

        tbody {
            cursor: pointer;
            
            tr {
                &:last-child {
                    border-bottom-width: 0;
                }
            }
        }
    }
}
