.account {
    margin: 0 -2px;
    padding: 2px;

    > .card > .card-content {

        > .card-heading {
            padding: 0;
            overflow: hidden;

            .col.s1 {
                padding-top: 10px;
            }
        }

        .card-body {
            .collection {
                margin: -10px;
                border: none;
            }
        }
    }

    ul.tabs {
        .tab {
            a {
                padding: 0 2px;
            }
        }
    }
}
