@import "../../../app/styles/variables/variables";

.account {
    margin: 0 -2px;
    padding: 2px;
    padding-left: 205px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    button.refresh {
        margin-bottom: 10px;
    }

    > .card > .card-content {

        > .card-heading {
            padding: 0;
            overflow: hidden;

            .col.s1 {
                padding-top: 10px;
            }
        }

        .card-body {
            .collection {
                margin: -10px;
                border: none;
            }
        }
    }

    ul.tabs {
        .tab {
            a {
                padding: 0 2px;
            }
        }
    }


    &.sidebar-hidden {
        padding-left: 45px;

        .sidebar {
            margin-left: -160px;
        }
    }

    @import "resources/sidebar/sidebar";
    @import "routes/effect-history/effect-history";
}

@media(max-width:768px) {
    .account {
        padding-left: 40px !important;
        padding-right: 0 !important;
    }
}
