.candlestick-chart {
    overflow-x: hidden;

    .current-data {
        padding: 0;
        position: absolute;
        top: 15px;
        right: 95px;
        margin: 5px;
        font-size: 10px;
        width: 500px;
        color: #000;

        td {
            padding: 2px;
        }
    }

    .chart {
        margin-top: 5px;
        font-size: 10px;

        .main-chart {
            overflow: visible;
            border: 1px solid $gray;
        }

        path.candle {
            stroke: #000000;
        }

        path.candle.body {
            stroke-width: 0;
        }

        path.candle.up {
            fill: #00AA00;
            stroke: #00AA00;
        }

        path.candle.down {
            fill: #FF0000;
            stroke: #FF0000;
        }

        path.volume {
            fill: $primary;
            opacity: 0.25;
        }

        g.axis {
            /*path.domain {
                display: none;
            }*/

            path.domain {
                display: none;
            }

            path.axis-line {
                stroke: $gray;
            }

            g.tick {
                line {
                    display: none;
                }
            }
        }

        .crosshair {
            cursor: crosshair;
            overflow: visible;

            path.wire {
                stroke: $accent;
                stroke-dasharray: 1, 1;
            }

            .axisannotation path {
                fill: #FFF;
                color: $primary;
            }
        }
    }
}
