.payment-modal {

    .form-container {
        padding: 2px;
    }

    .confirm-step {
        table {
            display: inline-block;
            td {
                font-weight: bold;
                padding: 5px;

                &.label {
                    text-align: left;
                }

                &.value {
                    text-align: left;
                }
            }
        }
    }
}
