.general-info {
  font-size: 12px;

  .card-body {
    padding: 0;
  }

  table {

    tr:last-child {
      border-bottom-width: 0;
    }

    td {
      padding: 5px;

      &.selling-cell {
        position: relative;

        .fa.fa-exchange {
          position: absolute;
          left: 15px;
          bottom: -8px;
          cursor: pointer;
        }
      }
    }
  }
}
