.area-chart {
    overflow-x: hidden;
    margin-top: 5px;
    border: 1px solid $gray;

    .current-data {
        padding: 0;
        position: absolute;
        top: 0;
        right: 5px;
        margin: 5px;
        font-size: 10px;
        width: 450px;
        color: #000;

        td {
            padding: 2px;
        }
    }

    .chart {
        font-size: 10px;

        .main-chart {
            overflow: visible;
        }

        .bid-area {
            stroke: $success;
            stroke-width: 2;
            fill: $success;
            fill-opacity: 0.5;
            clip-path: url(#clip);
        }

        .ask-area {
            stroke: $error;
            stroke-width: 2;
            fill: $error;
            fill-opacity: 0.5;
        }


            g.axis {
            /*path.domain {
                display: none;
            }*/

            path.domain {
                display: none;
            }

            path.axis-line {
                stroke: $gray;
            }

            g.tick {
                line {
                    display: none;
                }
            }
        }

        .crosshair {
            cursor: crosshair;
            overflow: visible;

            path.wire {
                stroke: $accent;
                stroke-dasharray: 1, 1;
            }

            .axisannotation path {
                fill: #FFF;
                color: $primary;
            }
        }
    }
}
