.identify-user {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    .identify-user-container {
        width: 90%;
        max-width: 500px;

        .card-heading {
            padding: 0;
        }
    }
}
