.tradingview-price-chart {
    font-size: 12px;

    .card-body {
        position: relative;

        .studies-button {
            position: absolute;
            bottom: 50px;
            right: 70px;
            z-index: 100;
        }

        .studies-dropdown {
            z-index: 100;
            max-height: 200px;

            .checkbox {
                float: right;
            }

            li {
                min-height: 0;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                padding: 0 5px;

                .icon-container {
                    display: inline-block;
                }
            }
        }
    }

    #tradingview-price-chart-container {
        height: 379px;
        position: relative;
    }

    .filters {

        .btn-group {
            margin: 0 15px;
            display: inline-block;

            span.label {
                display: inline-block;
                vertical-align: middle;
                font-weight: bold;
            }

            button.btn.btn-flat {
                border-radius: 0;
                border: none !important;
                border-left: none !important;
                color: $dark-gray !important;
                background-color: #fff;
                height: 20px;
                line-height: 12px;
                padding: 2px 3px;
                font-size: 12px;
                text-transform: lowercase;

                &.active, &:hover, &.active {
                    color: $primary !important;
                }

                &:disabled {
                    color: $light-gray !important;
                    background-color: #fff !important;
                }
            }
        }
    }
}
