.create-offer {
  font-size: 11px;

  label {
    font-size: 11px;
  }

  input {
    height: 22px;
    font-size: 12px;
  }

  table.current-balance {
    width: auto;
    border: 1px solid $gray;

    td {
      padding: 2px 5px;
      width: auto;
    }
  }
}