.price-chart {

    .chart-scroll {
        width: 100%;
        overflow-y: auto;
    }

    .chart {
        font-size: 10px;

        path.candle {
            stroke: #000000;
        }

        path.candle.body {
            stroke-width: 0;
        }

        path.candle.up {
            fill: #00AA00;
            stroke: #00AA00;
        }

        path.candle.down {
            fill: #FF0000;
            stroke: #FF0000;
        }

        path.volume {
            fill: $primary;
            opacity: 0.25;
        }

        .crosshair {
            cursor: crosshair;
            overflow: visible;
        }

        .crosshair path.wire {
            stroke: #DDDDDD;
            stroke-dasharray: 1, 1;
        }

        .crosshair .axisannotation path {
            fill: #DDDDDD;
        }
    }
}
