.asset-card-container.selectable {
    border: solid $light-gray 1px;
    min-height: 56px;
    background: #fff;
    z-index: 2;
    box-shadow: $shadow1;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;

    .no-asset {
        color: $light-gray;
        display: inline-block;
        vertical-align: middle;
        line-height: 56px;
    }
}

.asset-card {
    z-index: 2;
    padding: 2px;
    text-align: left;

    .card-body {
        padding: 0;
    }

    &.verified {
        border: 1px solid $success;

        .verification {
            border-top: 1px solid $success;
            border-right: 1px solid $success;
        }
    }

    &.not-verified {
        border: 1px solid $warning;

        .verification {
            border-top: 1px solid $warning;
            border-right: 1px solid $warning;
        }
    }

    i {
        margin: auto;
    }

    .home-domain {
        word-break: break-all;
    }

    td {
        padding: 1px;

        &.image-cell {
            position: relative;
            width: 42px;
            background: #fff;

            .image-wrapper, img {
                height: 40px;
                width: 40px;
            }

            .verification {
                position: absolute;
                bottom: -2px;
                left: -2px;
                background: #fff;
                padding: 2px;
                height: auto;
                top: auto;
                right: auto;
                line-height: 14px;
            }
        }

        &.description-cell {
            background: #fff;
            overflow: hidden;
            text-align: center;

            .asset-code {
                font-size: 14px;
            }

            .home-domain {
                font-size: 10px;
            }

            .issuer-address {
                font-size: 9px;
            }
        }
    }
}
